@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-rubik: 'Rubik', sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  @apply bg-BtnBG drop-shadow-md text-text px-8 max-h-12 min-h-10 m-4 rounded-lg
  flex items-center justify-center
  hover:bg-BlueBG transition-transform duration-300 transform hover:scale-105
  active:text-BlueBG active:bg-Stroke
  text-sm md:text-lg md:px-10 lg:text-xl lg:px-12;
}

.input {
  @apply bg-white text-text shadow-md rounded-lg max-h-12 min-h-10 m-4 p-4
  hover:bg-GreyBG transition-transform duration-300 transform hover:scale-105
  active:border active:border-Stroke;
}

.switch {
  @apply bg-BlueBG;
}

h1, h2, h3, p {
  font-family: var(--font-rubik), sans-serif;
}

.p{
  @apply m-4 text-sm md:text-lg lg:text-xl xl:text-2xl;
}

.img{
  @apply m-4 shadow-lg w-full md:w-3/4 lg:w-11/12 rounded-xl object-cover;
}

.shadow-up {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.15);
}
